OBSIDIAN_API_KEY=<your_obsidian_api_key>
OBSIDIAN_VERIFY_SSL=false
VERIFY_SSL=false
OBSIDIAN_PROTOCOL=http
OBSIDIAN_HOST=192.168.1.254
OBSIDIAN_PORT=27123
NODE_ENV=development

# LLM Server (aian-model)
LLM_SERVER_URL=http://usa:3002
LLM_MODEL=CHEAP
